<% layout("/layouts/boilerplate.ejs") %>
<body>

<h1 class="mt-5">All listings</h1>
<br>
<div class="row row-cols-lg-3">
    <%  for(let listing of AllListings) {%> 
    <a href="/listings/<%= listing._id %>">
    <div class="card mb-4">
        <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;" alt="...">
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %> <br></b>
            &#8377;<%= Number(listing.price).toLocaleString("en-IN") %>/night
         </p>
        </div>
      </div>
    </a>
   <% } %> 
    
</div>

</body>